@charset "UTF-8";
/* CSS Document */

/*my Google Fonts - when it's in external file*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
	/*Remove default spacing*/
	margin: 0; 
	padding: 0; 
	
	/*set a background colour*/
	background:#622819; 
	
	/*set a default font family*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

h1{
	/*set a fint for headings*/
	font-family: 'Press Start 2P', cursive;
	font-size: 2.5em;/*1 em = 16 px(default size) so 2.5em= 40px*/
}


#header{
	margin: 0;
	/*space inside the div*/
	padding: 100px;
	
	/*set a background image*/
	background-image: url("../images/backgrounds/lights.png");
	/*set the background image to cover the whole div*/
	background-size: cover;
}

#subHead{
	/*space inside the div*/
	padding: 100px;
	
	/*set margin top and bottom to 0 and auto centered*/
	margin: 0 auto;
	/*set a background image*/
	background-image: url("../images/backgrounds/spring.jpg");
	/*set the background image to cover the whole div*/
	background-size: cover;
	/*make it so the background image doesn't scroll with the page*/
	background-attachment: fixed;
	/*set css to look at entire element (padding included) to set size*/
	box-sizing: border-box;
	/*set a maximum width of 960px*/
	max-width: 960px;

}

.sect{
	
	background: #FFFFFF; 
	margin: 0 auto; 
	padding: 20px; 
	
	/*set css to look at entire element (padding included) to set size*/
	box-sizing: border-box;
	/*set a maximum width of 960px*/
	max-width: 960px;
}

/*psuedo-classes for the links (with rollovers)*/
a:link, a:visited{
	color:#B0A33C; 
	text-decoration: none;
}
a:hover{
	color:red; 
	text-decoration: underline;
}
a:active{
	color: orangered;
}

/*------------------------navBar -------------------*/
/*added "nav" to avoid affecting other lists with CSS stuff*/
nav ul {
	list-style-type: none;
	/*list comes with padding and margin?*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E38E2F;
}

nav li {
	float: left;
}


nav li a:link, nav li a:visited {
	/*turns all links into a box*/
	display: block;
	color: white;
	text-align: center;
	padding: 32px 16px;
	/*remove the underline from the items*/
	text-decoration: none;
}

nav li a:hover {
	background-color: #513C2A;
}

/*Menu sticks at the top*/
nav{
	position: -webkit-sticky;
 	position: sticky;
 	top: 0;
}

/*----------------------------image gallery-----------------*/



/*---------------------------Tables------------------------*/

