@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Titillium+Web&display=swap');


html{
	background-color: #202020;
}

body{
	max-width: 1280px;
	margin: auto;
	background: #252525;
}

header{
	height: 16vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 1% 4% 1% 4%;
	background-color: #131039; /*keep this*/
	color: ghostwhite;
	font-family: 'Merienda', cursive;
	font-size: 250%;
	
	background-image: url("../images/background/nihombashi_tokaido_02_resized_opacity70.png");
	background-position: center;
	background-size: cover;
	
	position: -webkit-sticky;
 	position: sticky;
 	top: 0;
}

.smallCaps{
	font-variant: small-caps;
}

h2{
	color: ghostwhite;
	font-family: 'Merienda', cursive;
	font-size: 300%;
	margin: 5% 0 -2% 0;
}

section{
}

img{
	min-width: 38%;
	max-width: 92%;
	padding: 2%;
}


p{
	color: #D5D5D5;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

footer{
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #202020;
	color: #D5D5D5;
	padding: 32px 0 32px 0;
}

/*-----------------flexContainer-------------------*/

.flexContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Links at the top*/
.linksTop{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: #28245D;
	flex-wrap: wrap;
	padding: 0 6% 0 6%;
}

.linksTop a{
	padding: 3% 2.5% 3% 2.5%;
	margin: .5% 1% .5% 1%;
	text-decoration: none;
	font-size:20px;
	font-family: 'Titillium Web', sans-serif;
	color: ghostwhite;
}

.linksTop a:hover{
	color: ghostwhite;
	background-color: #20509E;
}

.linksTop a:visited{
	color: #D5D5D5;
}


/*------------NAV_LINKS------------*/
/*.linksTop nav{
	flex: 100%;
}

.linksTop ul{
	list-style-type: none;
	padding: 0% 10% 0% 10%;
	overflow: hidden;
	background-color: #0E3371;
	font-family: 'Titillium Web', sans-serif;
	font-size: 120%;
}

.linksTop li{
	width: 120px;
	float: left;
	padding: 0 1% 0 1%;
}

.linksTop li a:link, .linksTop li a:visited {
	display: block;
	text-align: center;
	padding: 25% 0 25% 0;
	text-decoration: none;
	color: #D5D5D5;
}

.linksTop li a:hover {
	background-color: #20509E;
	display: block;
	color: #D5D5D5;
}*/


/*CONTENT*/
.content{
	text-align: justify;
	padding: 1% 8% 1% 8%;
}

.content img{
	margin: 3% 0 3% 0;
}

.flexReverse{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*FOOTER*/

#backToTop{
	background-color: #28245D;
	color: ghostwhite;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 16px;
	border: thin;
}

#backToTop:hover {
	background-color: #20509E;
}

footer .flexContainer{
	display: block;
}

/*media*/
@media (max-width: 960px){
	h1{
		font-size: 40px; 
		line-height: 72%;
	}
	
	h2{
		font-size: 220%;
	}
	
	p{
		font-size: 18px;
	}
	
	.linksTop{
		flex-direction: wrap; 
	}
	
	.flexContainer{
		flex-direction: column;
	}
	
	.flexReverse{
		flex-direction: column-reverse; 
	}
}
	

