@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Titillium+Web&display=swap');


html{
	background-color: #202020;
}

body{
	max-width: 1280px;
	margin: auto;
	background: #252525;
}

header{
	height: 16vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 1% 4% 1% 4%;
	background-color: #131039; /*keep this*/
	color: ghostwhite;
	font-family: 'Merienda', cursive;
	font-size: 250%;
	
	background-image: url("../images/background/nihombashi_tokaido_02_resized_opacity70.png");
	background-position: center;
	background-size: cover;
	
	position: -webkit-sticky;
 	position: sticky;
 	top: 0;
}

.smallCaps{
	font-variant: small-caps;
}

h2{
	color: ghostwhite;
	font-family: 'Merienda', cursive;
	font-size: 300%;
	margin: 5% 0 -2% 0;
}


img{
	min-width: 38%;
	max-width: 92%;
	padding: 2%;
}


p{
	color: #D5D5D5;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

footer{
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #202020;
	color: #D5D5D5;
	padding: 32px 0 32px 0;
}

/*-----------------flexContainer-------------------*/

.flexContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------NAV_LINKS------------*/
.linksTop nav{
	flex: 100%;
}

.linksTop ul{
	list-style-type: none;
	padding: 0% 10% 0% 10%;
	overflow: hidden;
	background-color: #28245D;
	font-family: 'Titillium Web', sans-serif;
	font-size: 140%;
}

.linksTop li{
	width: 120px;
	float: left;
	padding-right: 4%;
}

.linksTop li a:link, .linksTop li a:visited {
	display: block;
	text-align: center;
	padding: 25% 0 25% 0;
	text-decoration: none;
	color: ghostwhite;
}

.linksTop li a:hover {
	background-color: #20509E;
	display: block;
	color: ghostwhite;
}


/*CONTENT*/
.content{
	text-align: justify;
	padding: 1% 8% 1% 8%;
}

.content img{
	margin: 3% 0 3% 0;
}

.flexReverse{
	display: flex;
	justify-content: center;
	align-items: center;
}


/*TABLES*/

table{
	font-family: 'Titillium Web', sans-serif;
	color: ghostwhite;
	font-size: 20px;
	border-collapse: collapse;
	margin: 3%;
}

th, th{
	border: 1px solid #565656;
	padding: 7px;
	background-color: #28245D; 
}

tr td{
	padding: 7px;
	border: 1px solid #565656;
}

tr a{
	padding: 7px;
	color: ghostwhite;
}

tr a:hover{
	background-color: #20509E;
}


/*FOOTER*/

#backToTop{
	background-color: #28245D;
	color: ghostwhite;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 16px;
	border: thin;
}

#backToTop:hover {
	background-color: #20509E;
}

footer .flexContainer{
	display: block;
}

/*media*/
@media (max-width: 960px){
	h1{
		font-size: 40px; 
		line-height: 72%;
	}
	
	h2{
		font-size: 220%;
	}
	
	p{
		font-size: 18px;
	}
	
	.linksTop ul{
	list-style-type: none;
	padding: 0 10% 1% 10%;
	overflow: hidden;
	background-color: #28245D;
	font-family: 'Titillium Web', sans-serif;
	font-size: 100%;
	}

	.linksTop li{
		width: 120px;
		float: left;
		padding-right: 2%;
	}

	.linksTop li a:link, .linksTop li a:visited {
		display: block;
		text-align: center;
		padding: 6% 0 6% 0;
		text-decoration: none;
		color: ghostwhite;
	}
	
	table{
		font-size: 100%;
		text-align: left;
	}
	
	.flexContainer{
		flex-direction: column;
	}
	
	.flexReverse{
		flex-direction: column-reverse; 
	}
}
	

